.name-title {
    /* font-family: "Quicksand-Light"; */
    font-size: 40px;
    margin: 20px;
    color: black;
}

.button-text {
    /* font-family: "Quicksand-Regular"; */
}

.site-center {
    display: flex;    
    justify-content: center;
    align-items: center;    
}

.stack {
    flex-direction: column;
}

.side_stack {
    flex-direction: row;
}

.splash_reference_buttons {
    margin-top: 15px;    
    padding: 10px;
}

.social_media_icon {
    margin: 4px;
}