@keyframes fadeIn {
    from { opacity: 0.01; }
    to   { opacity: 1; }
}

@keyframes slideLR {
    from { transform: translateX(-100%); }
    to   { transform: translateX(0%); }
}

@keyframes slideRL {
    from { transform: translateX(+100%); }
    to   { transform: translateX(0%); }
}

.animateEntrySlideLR {
    animation-name: slideLR;
    animation-duration: 2000ms;
}

.animateEntrySlideRL {
    animation-name: slideRL;
    animation-duration: 2000ms;
}

.name-title {
    /* font-family: "Quicksand-Light"; */
    font-size: 40px;
    margin: 20px;
    color: black;
}

.button-text {
    /* font-family: "Quicksand-Regular"; */
}

.site-center {
    display: flex;    
    justify-content: center;
    align-items: center;    
}

.stack {
    flex-direction: column;
}

.side_stack {
    flex-direction: row;
}

.splash_reference_buttons {
    animation-name: slideRL;
    animation-duration: 2000ms;
    
    margin-top: 15px;    
    padding: 10px;
}

.social_media_icon {
    margin: 4px;
}