@keyframes fadeIn {
    from { opacity: 0.01; }
    to   { opacity: 1; }
}

@keyframes slideLR {
    from { transform: translateX(-100%); }
    to   { transform: translateX(0%); }
}

@keyframes slideRL {
    from { transform: translateX(+100%); }
    to   { transform: translateX(0%); }
}

.canvas {
    background-color: rgba(0, 0, 0, 0.5);
}

#splashtag-bg {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;

    position: sticky;
    position: -webkit-sticky;
    top: 0;

    margin: 0;
}

#splashtag {
    animation-name: slideLR;
    animation-duration: 1s;
    
    color: white;
    font-size: 50px;

    margin: 0;
}