.degree_container {    
    flex: 1;
    flex-direction: row-reverse;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;    
    align-content: space-around;
    justify-content: start;
}

#degree_title {
    font-family: "GoogleSans-Regular";
    font-size: 16px;  
    color: white; 
}

#school_logo {
    width: 25%;
    /* height: 25%; */
    /* aspect-ratio: 1; */
}

.degree_panel {
    padding: 20px;
    margin: 10px;
    /* background-color: rgb(0, 0, 0); */
    color: white;
}

.courses {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    font-family: "GoogleSans-Regular";
    font-size: 20px;
    /* margin: 10px; */
    height: 200px;
    overflow-y: scroll;   
    scrollbar-width: none;
}

.deets {
    font-family: "GoogleSans-Regular";
    color: white;
    font-size: 14px;
    margin: 10px;
    text-decoration: none;
}