@keyframes fadeIn {
    from { opacity: 0.01; }
    to   { opacity: 1; }
}

@keyframes slideLR {
    from { transform: translateX(-100%); }
    to   { transform: translateX(0%); }
}

@keyframes slideRL {
    from { transform: translateX(+100%); }
    to   { transform: translateX(0%); }
}

.animateEntrySlideLR {
    animation-name: slideLR;
    animation-duration: 2000ms;
}

.animateEntrySlideRL {
    animation-name: slideRL;
    animation-duration: 2000ms;
}


#education_heading {
    /* font-family: "Bangers"; */
    font-size: 50px;
    color: black;    
    text-align: center;
}

.degree_container {    
    flex: 1;
    flex-direction: column;
    scrollbar-width: none;
    align-content: space-between;
    justify-content: flex-start; 
    background-color: white;     
}

#degree_title {
    /* font-family: 'Raleway', sans-serif; */
    font-size: 16px;  
    color: black; 
}

#school_logo {
    width: 100%;
    padding: 0px;
    /* background-color: red; */
}

.stripe {
    flex: 1;
    display: block;
    position: relative; 
    width: 5%;
    height: 5%;
    background: white;
    mask-size:cover;

    /*    
    background-repeat: no-repeat;
    background-size: 25% 100%;
    vertical-align:auto; */
}

.degree_panel {
    flex: 1;
    flex-direction: row;
    display:inline-flex;
    position: relative;

    margin-top: 10px;
    margin-bottom: 10px;

    align-items: center;

    
    /* padding: 20px; */
    color: white;

    width: 100%;

    justify-content: space-between;

    /* background-color: green; */
    
    /* border: 1px;
    border-style: dashed;
    border-color: black; */
}

#degree_tag {
    /* font-family: "GoogleSans-Regular"; */
    font-size: 16px;
}

.courses {
    /* background-color: blue; */
    padding: 20px;
    /* font-family: "GoogleSans-Regular"; */
    color: black;
    font-size: 16px;
    /* margin: 10px; */
    height: 200px;
    overflow-y: scroll;   
    scrollbar-width: none;
}

.deets {
    /* font-family: "GoogleSans-Regular"; */
    color: black;
    font-size: 14px;
    margin: 10px;
    text-decoration: none;
}