.panel {
    background-color: rgba(0, 0, 0, 0.5);
}

#tag {
    font-family: 'Reem Kufi', sans-serif;
    color: white;
    font-size: 55px;
    position: sticky;
    margin: 0;
    text-align: center;
}