.skill-graph-container {
    flex: 1;
    flex-direction: row;
    display: inline-flex;
    overflow-x: scroll;
    scrollbar-width: none;    
    width: 100%;

    font-family: "Bangers";
    font-size: 24px;
    color: black;

    margin-right: 25px;
}

.skill_panel {
    border: 0.5px;
    border-radius: 15px;
    border-color: black;
    border-style: dashed;
    width: 100%;

    margin: 15px;
    padding: 15px;
}