@keyframes slideIn {
    from { transform: translateX(-100%); }
    to   { transform: translateX(0%); }
}

@keyframes fadeIn {
    from { opacity: 0.01; }
    to   { opacity: 1; }
}

#skills_heading {
    animation-name: slideIn;
    animation-duration: 1s;

    font-family: "Bangers";
    font-size: 50px;
    color: black;    
    text-align: center;
}

.skill-graph-container {
    animation-name: fadeIn;
    animation-duration: 3s;    

    flex: 1;
    flex-direction: row;
    display: inline-flex;
    overflow-x: scroll;
    scrollbar-width: none;    
    width: 100%;

    font-family: "Bangers";
    font-size: 24px;
    color: black;
}

.skill_panel {
    border: 0.5px;
    border-radius: 15px;
    border-color: black;
    border-style: dashed;

    margin: 10px;
    padding: 15px;
}