@font-face {
  font-family: "GoogleSans-BoldItalic";
  src: url("./assets/fonts/GoogleSans-BoldItalic.ttf");
}

@font-face {
  font-family: "GoogleSans-Bold";
  src: url("./assets/fonts/GoogleSans-Bold.ttf");
}

@font-face {
  font-family: "GoogleSans-Italic";
  src: url("./assets/fonts/GoogleSans-Italic.ttf");
}

@font-face {
  font-family: "GoogleSans-MediumItalic";
  src: url("./assets/fonts/GoogleSans-MediumItalic.ttf");
}

@font-face {
  font-family: "GoogleSans-Medium";
  src: url("./assets/fonts/GoogleSans-Medium.ttf");
}

@font-face {
  font-family: "GoogleSans-Regular";
  src: url("./assets/fonts/GoogleSans-Regular.ttf");
}

@font-face {
  font-family: "ProductSans-BoldItalic";
  src: url("./assets/fonts/Product Sans Bold Italic.ttf");
}

@font-face {
  font-family: "ProductSans-Bold";
  src: url("./assets/fonts/Product Sans Bold.ttf");
}

@font-face {
  font-family: "ProductSans-Italic";
  src: url("./assets/fonts/Product Sans Italic.ttf");
}

@font-face {
  font-family: "ProductSans-Regular";
  src: url("./assets/fonts/Product Sans Regular.ttf");
}

@font-face {
  font-family: "Quicksand-Regular";
  src: url("./assets/fonts/Quicksand-Regular.ttf");
}

@font-face {
  font-family: "Quicksand-Bold";
  src: url("./assets/fonts/Quicksand-Bold.ttf");
}

@font-face {
  font-family: "Quicksand-Light";
  src: url("./assets/fonts/Quicksand-Light.ttf");
}

@font-face {
  font-family: "Quicksand-Medium";
  src: url("./assets/fonts/Quicksand-Medium.ttf");
}

@font-face {
  font-family: "Goudy";
  src: url("./assets/fonts/Goudy\ Text\ MT\ Std\ Regular.otf");
}

@font-face {
  font-family: "Comic";
  src: url("./assets/fonts/comic.ttf");
}

@font-face {
  font-family: "LoveYaLikeASister";
  src: url("./assets/fonts/LoveYaLikeASister.ttf");
}

* {
  user-select: none; 
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.pagecont {
  margin: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
